@{
    ViewData["Title"] = "Home Page - CHANGES MADE!";
}
<div class="text-center" style="background-color: @Conf["colour"];">
    <h1 class="display-4">Welcome the @Conf["site"] site</h1>
    <dl class="text-left">
        <dt class="lefty">DB connection string</dt>
        <dd class="lefty">@Conf["dbconn"]</dd>

        <dt class="lefty">Auth URL string</dt>
        <dd class="lefty">@Conf["auth"]</dd>
    </dl>
</div>

<iframe src='https://webchat.botframework.com/embed/johanai102-bot?s=rdLFEAJvcBQ.CxUDBUXWehv9qUO03sabDLfgfB1oAvjrv2MXo40T6bw'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
